<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        
                        <a asp-area="admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm</a>
                    </li>
                    <li>

                        <a asp-area="admin" asp-controller="AdminCategories" asp-action="Index">Quản lý danh mục sản phẩm</a>
                    </li>
                    <li>
                        <a asp-area="admin" asp-controller="AdminColors" asp-action="Index">Quản lý màu sắc</a>
                    </li>
                    <li>
                        <a asp-area="admin" asp-controller="AdminSizes" asp-action="Index">Quản lý size</a>
                    </li>

                </ul>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    Quản lý khách hàng
                </a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminPosts" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-pie-chart"></i>
                    </span>
                    Quản lý tin tức
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Quản lý hệ thống</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Quản lý danh mục</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Quản lý quyền truy cập</a>
                    </li>
                    <li>
                        <a href="data-table.html">Quản lý tỉnh thành</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="AdminPages" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-paper-clip"></i>
                    </span>
                    <span class="title">Quản lý Pages</span>
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Quản lý trang chủ</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminSlides" asp-action="Index">Trang Slideshow</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminArrivals" asp-action="Index">Quản lý New Arrival</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>